 body {
    background-color: lightblue ;
}

h1 {
    color: navy;
    margin-left: 50px;
}

h2 {
    color: navy;
    margin-left: 50px;
}

ul {
    margin-left: 50px;
}

img {
    margin-left: 50px;
}


h3 {
    color: navy;
    margin-left: 50px;


